@import "reset";
@import "mixin";
@import "variables";
html {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;  
    min-width: 320px; 
}
.container {
    width: 100%;
    max-width: 1252px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.header {
    margin-bottom: 66px;
    .header-img {
		img {
			width: 100%;
		}
	}
}
.navbar {
        @include flex-center;
        justify-content: space-around;
        margin: 15px auto;
        position: relative;
    }
.nav-menu {
    @include flex-center;
    justify-content: space-around;
}
.nav-menu__item {
    @include menu-item;
    display: flex;
    align-items: stretch;
    padding: 0 5px;
}
.active {
    color: $active-text-color;
}
.hamb {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}
.popup {
    display: none;
}
@media screen and (max-width: 580px) {
    .header-img {
        margin-top: 50px;
    }
    .navbar__wrap .nav-menu {
        display: none;
    }
    .hamb {
        display: flex;
        align-items: center;
    }
    .bar {
        display: block;
        width: 17px;
        height: 2px;
        margin: 6px auto;
        background-color: #FEFEFE;
        transition: 0.2s;
    }
    .hamb__field {
        padding: 5px 14px;
        cursor: pointer;
        background-color: #000;
    }
    .popup {
        position: fixed;
        top: 56px;
        right: -100%;
        width: 182px;
        height: 208px;
        background-color: #F5F5F5;
        z-index: 100;
        display: flex;
        transition: 0.3s;
    }
    .popup.open {
        right: 20px;
    }
    .nav-menu {
        width: 100%;;
        flex-direction: column;
        font-size: 11px;
    }
    .nav-menu__item {
        width: 100%;
        padding: 0;
    }
    .nav-menu__item > a {
        width: 100%;
        transition: 0.3s;
        padding-left: 12px;
        padding-right: 0;
    }
    .nav-menu__item:focus {
        background-color: #E5E5E5;
    }
    .hamb__field.activeHamb .bar:nth-child(2) {
        opacity: 0;
    }
    .hamb__field.activeHamb .bar:nth-child(1) {
        transform: translateY(8px)rotate(45deg);
    }
    .hamb__field.activeHamb .bar:nth-child(3) {
        transform: translateY(-8px)rotate(-45deg);
    }
    body.noscroll {
        overflow: hidden;
    }
}
img {
    max-width: 100%;
}
.posts {
    margin-bottom: 69px;
}
.post-wrapper {
    @include flex-center;
    margin: 17px;
    flex-wrap: wrap;
}
.post-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $text-color;
    margin-bottom: 24px;
}
.post-item__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: $text-color;
}
.post-item__caption {
    font-size: 12px;
    line-height: 20px;
    color: #7C7C7C;
}
.post-item__text {
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
}
.post-wrapper__item {
    @include flex-center;
    justify-content: space-between;
    width: 555px;
    padding: 17px;
	box-sizing: border-box;
	img {
        width: 160px;
        height: 140px;
	}
}
.post-item__content {
    padding: 0 20px;
	box-sizing: border-box;
}
@media screen and (max-width: 550px){
    .post-item__content {
        padding: 0;
    }
    .post-wrapper {
        margin: 0;
    }
    .post-title {
        font-size: 13px;
    }
    .post-item__text {
        display: none;
    }
    .post-wrapper__item {
        flex-wrap: wrap;
    }
    .post-item__title {
        font-size: 13px;
    }
    .post-item__caption {
        font-size: 11px;
    }
}
.insta__title-wrapper {
    @include flex-center;
    justify-content: space-between;
    margin-top: 47px;
    margin-bottom: 24px;
}
.insta {
    background-color: RGBa(0,0,0, 0.03);
    padding-top: 47px;
    padding-bottom: 49px;
}
.insta-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $text-color;
}
.insta-text {
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    color: $text-color;
}
.insta-wraper {
    @include flex-center;
    justify-content: space-between;
    flex-wrap: wrap;
	margin: -5px;

	.insta-item { 
        width: 25%; 
        padding: 5px; 
        box-sizing: border-box; } 
}
@media screen and (max-width: 768px){
    .insta-wraper .insta-item:nth-child(4) {
        display: none;
    }
    .insta-wraper .insta-item {
        width: 33%;
    }   
}
@media screen and (max-width: 395px) {
    .insta-text {
        display: none;
    }
    .insta-wraper .insta-item:nth-child(3) {
        display: none;
    }
    .insta-wraper .insta-item:nth-child(2) {
        display: none;
    }
    .insta-wraper .insta-item {
        width: 100%;
    }
}
.footer {
    background-color: #000;
    padding-top: 66px;
    padding-bottom: 70px;
}
.footer-wrapper {
    text-align: center;
    max-width: 684px;
    width: 100%;
    margin: 0 auto;
}
.footer-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FEFEFE;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.footer-content {
    font-size: 16px;
    line-height: 28px;
    color: #B9B9B9;
    margin-bottom: 37px;
    max-width: 684px;
}
.contacts {
    font-size: 16px;
    line-height: 26px;
    color: #B9B9B9;
    margin-top: 34px;
}
@media screen and (max-width: 320px) {
    .footer-title {
        font-size: 12px;
        line-height: 20px;
    }
    .footer-content {
        font-size: 12px;
        line-height: 20px;
    }
    .contacts {
        font-size: 14px;
        line-height: 24px; 
    }
}